<p id="notice"><%= notice %></p>
<%= gmaps({
       "map_options" => {"auto_zoom" => false, "zoom" => 14, "center_on_user" => true },
       "markers"     => {"data" => $json }
      })
%>

<p>
  <b>Endereco:</b>
  <%= @index.endereco %>
</p>

<p>
  <b>Latitude:</b>
  <%= @index.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @index.longitude %>
</p>

<p>
  <b>Num.de qt:</b>
  <%= @index.numqt %>
</p>

<p>
  <b>Valor medio:</b>
  R$<%= @index.valmed %>.000,00
</p>

<p>
  <b>Val. medio do m2:</b>
  R$<%= @index.valm2med %>,00
</p>


<%= link_to 'Back', indices_path %>
